<div class="product-reviews">
	<% @comments.each do |comment| %>
		<div class="row">
			<p><%= comment.user.first_name %>  <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small></p>
			<div class="review-rating"><%= comment.rating %></div>
			<p><%= comment.body %></p>
		</div>
	<% end %>
</div>