<% if signed_in? %>

	<h4>Add a review:</h4>
	<%= form_for([@product, @product.comments.build], remote: true) do |f| %>

	  <p>
	    <%= f.label :body, "Comments" %><br>
	    <%= f.text_area :body %>
	  </p>

	  <p>
	  	<div class="rating"></div>
	  </p>

	  <p>
	    <%= f.submit "Submit" %>
	  </p>
	<% end %>

<% end %>
